body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

form {
    width: 315px;
    display: flex;
    flex-direction: column;
}

input,
button,
span {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    justify-content: space-between;
}

.container:first-child {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
}

/**    Custom input   **/

.custom-input {
    border: none;
    border-bottom: 1px grey solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-input:focus-visible {
    outline-offset: 1px;
}

/**    Switch with slider   **/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #27ae60;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #c0392b;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c0392b;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**    Send button   **/
button {
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #bdc3c7;
}

/**    Table   **/
table {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

th,
td {
    padding: 0.5em;
}

img {
    aspect-ratio: 1/1;
    max-width: 20px;
    cursor: pointer;
}

#get-all-button {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form,
div,
h1 {
    z-index: 1;
}

/* Box */

.box {
    z-index: 0;
}

.box:before {
    position: fixed;
    content: '';
    width: calc(100% + 30px);
    height: calc(100% + 30px);

    /* transform: translate(-50%, -50%) scale(.7); */
    filter: blur(0);
    opacity: 1;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

.box:before {
    background-color: #f3e8ff;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.58);
    border-radius: 21px;
    background-image:
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
        url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%, -50px 130%, 500px 130%;

    animation: 20s waves linear infinite forwards;
}

@keyframes waves {
    to {
        background-position: 1600px 130%, 3150px 130%, 5300px 130%;
    }
}